.button-download {
  display: block;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;

  color: $white;

  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 21px 38px;
}
