.button {
  display: inline-block;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;

  color: $white;

  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 16px 35px;

  &:hover,
  &:focus {
    color: $red;
    background-color: $white;
  }

  &:active {
    color: rgba($red, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 16px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 28px;
    font-size: 21px;
  }
}
