.competition {
  box-sizing: border-box;
  min-height: 237px;
  background-color: $blue;
  background-image: url("../img/background-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto auto;
  padding-top: 95px;

  @media (min-width: $tablet-width) {
    min-height: 440px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-desktop.jpg");
    min-height: 394px;
  }
}

.competition__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
  }
}
