.contacts {
  padding-top: 45px;
}

.contacts__question {
  margin: 0;
}

.contacts__answer {
  margin: 0;
  margin-bottom: 45px;
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "phone address email";
  }
}

.contacts__map {
  position: relative;
}

.contacts__superposition {
  position: absolute;
  width: 100%;
  background-image: url("../img/triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  z-index: 10;

  @media (min-width: $tablet-width) {
    height: 123px;
  }

  @media (min-width: $desktop-width) {
    height: 123px;
  }
}

.contacts__iframe {
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}
