.download {

}

.download__wrapper {
  padding-top: 62px;
  background-image: url(../../img/download-phone.png);
  background-repeat: no-repeat;
  background-position: 0 176px;
}

.download__slogan {
  margin-bottom: 348px;
}

.download__button {
  margin-bottom: 32px;
}

.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 28px;
}

.download__item {

}

.download__link {

}

.download__image {

}

.download__devices {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
