.download {
  box-sizing: border-box;
  height: 733px;
  background-color: $blue;
  background-image: url(../../img/download-phone.png), url(../../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center 177px, center top;
  background-size: auto 286px, auto 462px;

  @media (min-width: $tablet-width) {
    height: 729px;
    background-image: url(../../img/phone-tablet.png), url(../../img/background-tablet.jpg);
    background-size: auto 545px, auto 853px;
    background-position: center bottom, center bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 853px;
    background-image: url(../../img/phone-desktop.png), url(../../img/background-desktop.jpg);
    background-size: auto 645px, auto 853px;
    background-position: center bottom, center bottom;
    display: block;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.download__wrapper {
  display: flex;
  justify-content: flex-start;
}

.download__inner {
  box-sizing: border-box;
  padding-top: 65px;
  padding-bottom: 28px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 163px;
    padding-bottom: 119px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    // width: 940px; //
  }
}

.download__slogan {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 285px;
    min-height: 116px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.download__button {
  margin-bottom: 46px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.download__item {
  margin-left: 35px;

  &:first-child {
    margin-left: 0;
  }
}

.download__link {
  &:hover,
  &:focus {
    outline: auto;
  }
}

.download__devices {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
