.download {
    background: url(../../img/download-screen.jpg) 143px center no-repeat,
                url(../../img/download-phone.png) bottom left no-repeat,
                $blue url(../../img/download-back.jpg) top left no-repeat;
}

.download__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  padding-top: 30px;
  padding-bottom: 320px;
}

.download__slogan {

}

.download__inner {

}

.download__button {

}

.download__list {

}

.download__item {

}

.download__link {

}

.download__image {

}

.download__devices {

}
