.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "achieve"
    "contact"
    "application"
    "emotion"
    "send";

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "name"
      "application"
      "contact"
      "achieve"
      "emotion"
      "send";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name application"
      "contact contact"
      "achieve achieve"
      "emotion emotion"
      "send send";
    column-gap: 74px;
  }
}

.form__fieldset {
  box-sizing: border-box;
  border: none;
  padding: 40px 0;
  margin: 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.form__fieldset--name {
  grid-area: name;

  @media (min-width: $desktop-width) {
    padding: 0;
    height: 100%;
  }
}

.form__fieldset--achieve {
  grid-area: achieve;
}

.form__fieldset--contact {
  grid-area: contact;
}

.form__fieldset--application {
  grid-area: application;

  @media (min-width: $tablet-width) {

  }
}

.form__fieldset--emotion {
  grid-area: emotion;
}

.form__fieldset--dark {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.form__send {
  grid-area: send;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__list--name {
  @media (min-width: $desktop-width) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form__list--application {
  @media (min-width: $tablet-width) {
    padding: 54px 60px;
  }
}

.form__list--contact {
  @media (min-width: $tablet-width) {
    padding: 46px 60px 69px 60px;
  }
}

.form__list--achieve {
  @media (min-width: $tablet-width) {
    padding: 60px 60px;
  }
}

.form__list--emotion {
  @media (min-width: $tablet-width) {
    padding: 47px 60px 53px 60px;
  }
}

.form__list--border {
  @media (min-width: $tablet-width) {
    border: 2px solid $dark-grey;
    border-radius: 1px;
  }
}

.form__item {
  margin-bottom: 43px;

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__item--text {
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__legend {
  text-align: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: max-content;
  }
}

.form__textarea {
  margin-bottom: 10px;
}

.form__button {

}

.form__footnote {

}
