.logo {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
  }
}

.logo__image {
  &:not(.logo__image--main-page):hover path,
  &:not(.logo__image--main-page):focus path {
    fill: $red;
  }

  &:not(.logo__image--main-page):active path {
    fill: $white;
    fill-opacity: 0.3;
  }
}

.logo__image--mobile {
  display: block;

  @media(min-width: $tablet-width) {
    display: none;
  }
}

.logo__image--tablet {
  display: none;

  @media(min-width: $tablet-width) {
    display: block;
  }

  @media(min-width: $desktop-width) {
    display: none;
  }
}

.logo__image--desktop {
  display: none;

  @media(min-width: $desktop-width) {
    display: block;
  }
}



