.page-header {
  background-color: $dark-blue;
  position: relative;
}

.page-header__wrapper {

}

.page-header__logo {
  display: flex;
  align-items: center;
  height: 69px;
}

.page-header__navigation {
  position: relative;
}

.page-header__button {
  position: absolute;
  top: 20px;
  right: 20px;
}
