.page-header {

}

.page-header__logo {
  display: flex;
  align-items: center;
  height: 69px;
  background-color: $dark-blue;
  border-bottom: 1px solid $black;
}

.page-header__navigation {
  position: relative;
}

.page-header__button {
  position: absolute;
  top: 20px;
  right: 20px;
}
