.page-header {
  background-color: $dark-blue;
  position: relative;
}

.page-header__logo {

}

.page-header__navigation {

}

.page-header__button {
  position: absolute;
  top: 20px;
  right: 20px;
}
