.page-footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {

}

.page-footer__social {
  margin-top: 38px;
}

.page-footer__copyright {
  margin-top: 38px;
}
