.photo {
  width: 100%;
  background-color: $grey;
  display: grid;
  grid-template-rows: min-content auto;

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.photo--panorama {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.photo__wrapper-info {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto;
  padding: 17px 10px 20px 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 24px;
    padding-top: 24px;
    min-height: 155px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
  }
}

.photo__wrapper-info--panorama {
  position: relative;
  grid-template-rows: auto auto auto;
  background-color: $grey;
  padding-top: 154px;
  margin-top: -137px;
  padding-bottom: 19px;

  &::before {
    content: "Панорама дня";
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: $white;
    display: block;
    padding: 6px 19px;
    position: absolute;
    z-index: 201;
    top: 0;
    right: 0;
    background-color: $red;

    @media (min-width: $tablet-width) {
      top: 57px;
    }

    @media (min-width: $desktop-width) {
      top: 54px;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 138px;
    grid-template-rows: auto auto;
    grid-template-areas: "name like"
      "description description";

    padding-top: 532px;
    padding-bottom: 15px;
    margin-top: -507px;
  }
}

.photo__inner {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 3px;
}

.photo__inner--panorama {
  @media (min-width: $tablet-width) {
    grid-area: name;
  }
}

.photo__image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 180px;
  background-size: contain;
  vertical-align: middle;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.photo__image--panorama {
  height: 137px;

  @media (min-width: $tablet-width) {
    height: 509px;
  }

  @media (min-width: $tablet-width) {
    height: 506px;
  }
}

.photo__author {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  color: $dark-blue;

  margin: 0;
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  color: $dark-blue;
}

.photo__description {
  grid-column: 1 / -1;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: $dark-blue;
  margin-top: 1px;
  margin-bottom: 10.5px;

  @media (min-width: $desktop-width) {
    margin-top: -1px;
  }
}

.photo__description--panorama {
  @media (min-width: $tablet-width) {
    grid-area: description;
  }
}

.photo__wrapper-like {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.photo__wrapper-like--panorama {
  @media (min-width: $tablet-width) {
    grid-area: like;
  }
}

.photo__button {
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  margin-right: 19px;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.photo__like {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  color: $red;
}
