.photo-processing {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    align-items: center;
    padding-right: 16px;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 27px;
    padding-bottom: 14px;
  }
}

.photo-processing__button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
    margin-right: 49px;
  }

  &:not(.photo-processing__button--active):hover,
  &:not(.photo-processing__button--active):focus {
    cursor: pointer;
    opacity: 0.5;

    @media (min-width: $tablet-width) {
      cursor: default;
      opacity: 1;
    }
  }
}

.photo-processing__button--crop {
  background-image: url("../img/icon-crop.svg");

  @media (min-width: $tablet-width) {
    background-size: 22px 22px;
    background-image: url("../img/icon-crop-active.svg");
  }

  @media (min-width: $desktop-width) {
    background-size: 44px 44px;
  }

  &.photo-processing__button--active {
    background-image: url("../img/icon-crop-active.svg");
  }
}

.photo-processing__button--fill {
  background-image: url("../img/icon-fill.svg");
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    background-size: 24px 22px;
    background-image: url("../img/icon-fill-active.svg");
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    background-size: 48px 43px;
    background-position: center center;
    margin-left: 4px;
  }

  &.photo-processing__button--active {
    background-image: url("../img/icon-fill-active.svg");
    opacity: 1;
  }
}

.photo-processing__button--contrast {
  background-image: url("../img/icon-contrast.svg");
  opacity: 0.3;
  background-position: 1px 11px;

  @media (min-width: $tablet-width) {
    background-size: 16px 16px;
    background-position: center;
    background-image: url("../img/icon-contrast-active.svg");
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    background-size: 32px 32px;
  }

  &.photo-processing__button--active {
    background-image: url("../img/icon-contrast-active.svg");
    opacity: 1;
  }
}

.photo-processing__range {
  position: absolute;
  bottom: 31px;
  left: 0;
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  background: transparent;

  @media (min-width: $tablet-width) {
    position: static;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid $red;
    background: $white;
    cursor: pointer;
    margin-top: -6px;

    &:active {
      background: $red;
    }
  }

  &::-moz-range-thumb {
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid $red;
    background: $white;
    cursor: pointer;

    &:active {
      background: $red;
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: $dark-blue;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: $dark-blue;
  }
}

.photo-processing__range-hidden {
  @media (max-width: $mobile-width-only) {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
  }
}
