.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 55px;
    padding-bottom: 120px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
    padding-bottom: 117px;
    background-color: $grey;
  }
}

.research__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 570px;
  }

  &::before {
    content: "";
    display: block;
    width: 238px;
    height: 276px;
    background-image: url("../img/article-timer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @media (min-width: $desktop-width) {
      top: -96px;
      width: 298px;
      height: 345px;
    }
  }
}

.research__content {
  padding-top: 43px;

  @media (min-width: $desktop-width) {
    padding-top: 95px;
  }
}

.research__title {
  margin-top: 0;
  margin-bottom: 0;
  width: 54%;
}

.research__excerpt {
  margin-top: 11px;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    margin-bottom: 28px;
  }
}
