.reviews {
  position: relative;
  margin-top: -50px;
  padding-top: 44px;
  z-index: 1;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 185px;
  }
}

.reviews__list {
  position: relative;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: -111px;
      left: 0;
      right: 0;
      width: 79px;
      height: 63px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.reviews__quote {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.reviews__toggle {
  padding-bottom: 55px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__control {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
