.social {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid rgba($dark-blue, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--twitter {
  background-image: url(../../img/icon-twitter.svg);
}

.social__link--facebook {
  background-image: url(../../img/icon-facebook.svg);
}

.social__link--youtube {
  background-image: url(../../img/icon-youtube.svg);
}
