.tariff {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 50px;
  background-color: $grey;
  background-image: url("../img/background-mobile-tariff.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 19px;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
    padding-bottom: 67px;
    background-image: url("../img/background-tablet.svg");
    background-size: 100% 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 153px;
    padding-bottom: 94px;
    background-image: url("../img/background-desktop.svg");
    background-size: 100% 100px;
  }
}

.tariff__list {
  display: grid;
  grid-template-rows: auto auto;

  @media (min-width: $tablet-width) {
    transform: translateX(0);
  }
}

.tariff__body {
  display: grid;
  grid-template-rows: auto auto auto;
  // grid-template-columns: auto;
}

.tariff__row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 278px 278px 278px; //1fr -> 278px

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.tariff__item {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  //width: 278px; //278px;
  background: $white;
  border: 2px solid $dark-grey;
  border-top: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  &:last-child {
    //width: 276px;
    border-right: 2px solid $dark-grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
    padding-right: 21px;
  }
}

.tariff__item--none {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.tariff__item--transparent {
  background-color: transparent;
  border-left: none;
}

.tariff__item--header {
  background: $dark-blue;
  // border-color: $dark-blue;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 13px;
  padding-bottom: 28px;
  border: 2px solid $grey;
  border-right: none;
  border-bottom: none;

  &:last-child {
    border-right: 2px solid $dark-blue;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 21px;
  }
}

.tariff__item--popular {
  &::before {
    content: "ХИТ";
    position: absolute;
    top: 18px;
    left: -32px;
    width: 119px;
    height: 23px;
    background-color: $red;
    color: $white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      left: -41px;
      height: 17px;
      line-height: 17px;
    }

    @media (min-width: $desktop-width) {
      left: -32px;
      height: 23px;
      line-height: 22px;
    }
  }
}

.tariff__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  color: $white;

  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 7px;
  }
}

.tariff__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;

  color: $white;

  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariff__option {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  text-transform: uppercase;

  color: $dark-blue;

  @media (min-width: $tablet-width) {
    display: none;
    text-transform: none;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.tariff__option--left {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.tariff__enabled {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.tariff__toggles {
  margin-top: 42px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
