.tariff {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 46px;
  background-color: $grey;
}

.tariff__list {
  display: grid;
  grid-template-columns: 836px;
  grid-template-rows: auto auto;
}

.tariff__head {

}

.tariff__body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
}

.tariff__row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 278px 278px 278px;
}

.tariff__item {
  box-sizing: border-box;
  width: 278px;
  background: $white;
  border: 2px solid $dark-grey;
  border-top: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  &:last-child {
    width: 276px;
    border-right: 2px solid $dark-grey;
  }
}

.tariff__item--header {
  background: $dark-blue;
  // border-color: $dark-blue;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 19px;
  padding-bottom: 35px;
  border: 2px solid #F2F2F2;
  border-right: none;
  border-bottom: none;

  &:last-child {
    border-right: 2px solid $dark-blue;
  }
}

.tariff__item--popular {

}

.tariff__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;

  color: $white;

  margin: 0;
}

.tariff__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;

  color: $white;

  margin: 0;
}

.tariff__option {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  text-transform: uppercase;

  color: $dark-blue;
}

.tariff__enabled {

}

.tariff__toggles {
  margin-top: 42px;
  width: 100%;
}
