.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  border: 2px solid $dark-grey;
  border-radius: 1px;
  padding: 15px 20px;
  resize: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: $dark-blue;
  }

  &:hover,
  &:focus {
    border: 2px solid $dark-blue;
  }

  &:active {
    border: 2px solid $red;
  }

  @media (min-width: $tablet-width) {
    height: 190px;
    padding: 13px 18px;
  }

  @media (min-width: $desktop-width) {
    height: 128px;
  }
}
