.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: $dark-blue;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.text--wide {
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.text--link {
  text-decoration: underline;
  color: $red;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--attention {
  color: $red;
}

.text--narrow {
  line-height: 24px;
}
