.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 197px;
  border: 2px solid $dark-grey;
  border-radius: 1px;
  padding: 22px 20px;
  resize: none;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: $dark-blue;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
  }
}
